*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.bloco{
	height:200px;
	width:200px;
	border:4px solid black;
	border-top-right-radius: 100px;
	border-bottom-left-radius:100px;
	float:left;
	transform: rotate(180deg);
	transition:0.5s;
}

.bloco2{
	height:200px;
	width:200px;
	border:4px solid black;
	border-top-right-radius: 100px;
	border-bottom-left-radius:100px;
	transform: rotate(90deg);
	float:left;
	transition:0.5s;
}

.bloco:hover{
	background-color:yellow;
}

.bloco2:hover{
	background-color:red;
}