*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background-color: black;
}

.container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.container span{

    display: block;
}

.text1{
    color: white;
    font-size: 80px;
    font-weight: 700;
	background-color:black;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: texto 3s 1;

}

.text2{
    font-size: 30px;
    color: rgba(255, 74, 74, 0.945);

}

@keyframes texto{
    0%{
        color: black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}